<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Apresentação Testes - Made with reveal.js</title>

	<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
	<meta name="author" content="Hakim El Hattab">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<link rel="stylesheet" href="../vendor/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="../vendor/reveal.js/css/theme/night.css" id="theme">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/animation.css">

	<!-- Code syntax highlighting../vendor/reveal.js/ -->
	<link rel="stylesheet" href="../vendor/reveal.js/clib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? '../vendor/reveal.js/css/print/pdf.css' : '../vendor/reveal.js/css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			<section data-markdown><!-- Slide1: titulo -->
				<script type="text/template">
					##Sistema de Gerenciamento de Chaves do IME: Progresso Atual
					###Chavesteam - Testes
					####MATA63 - Engenharia de Software II
					####Universidade Federal da Bahia - 2016.1
				</script>
			</section><!-- Slide1: titulo -->

			<section data-markdown><!-- Slide2: Formacao [Titulo] -->
				<script type="text/template">
					##Agenda:
					- Composição da equipe
					- Requisitos selecionados
					- Quadro Kanban (a.k.a Trello)
					- Documentação Gerada
					- Resultados da dinâmica de satisfação
				</script>
			</section><!-- Slide2: Formacao [Titulo] -->

			<section data-markdown><!-- Slide3: Formacao -->
				<script type="text/template">
					##Composição da Equipe:
					- *Sprint #1:*
						- **Yane, Saulo, Fagner, Tiago**
					- *Sprint #2:*
						- Yane, Saulo, Fagner, Tiago
						- **Virgínia, Jailton**
					- *Sprint #3:*
						- Yane, Saulo, Fagner, Tiago, Virgínia, Jailton
						- **Pablo, Ramon**
				</script>
			</section><!-- Slide3: Formacao -->

			<section data-markdown><!-- Slide3: Formacao -->
				<script type="text/template">
					##Requisitos selecionados
					- 16: Manter Usuários
					- 17: Manter Salas
					- 18: Criar painel para o administrador
					- 36: Solicitar reserva de sala
					- 43: Listar salas disponíveis
					- 44: Listar salas reservadas
					- 45: Listar todas as salas
					- 52: Mostrar cronograma de sala por dia
				</script>
			</section><!-- Slide3: Formacao -->

			<section data-markdown><!-- Slide5: Quadros Kanban [Titulo] -->
				<script type="text/template">
					#Quadro Kanban
				</script>
			</section><!-- Slide5: Quadros Kanban [Titulo] -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Kanban-Trello-Testes.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide4: Requisitos Selecionados para Implementacao -->
				<script type="text/template">
					##Documentação Gerada
					- Roteiro de Testes
					- Relatórios de Análise de Layout
						- https://drive.google.com/drive/folders/0B3CnggDParkraTJSM21nLW9idlU
					- Planilha de Análise de Riscos
						- https://docs.google.com/spreadsheets/d/15jg4F8bDKFL0A7B4Wml-xVzAiycBs5LSQIojeuYkCyY/edit#gid=0
					- Processo de testes
				</script>
			</section><!-- Slide4: Requisitos Selecionados para Implementacao -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Roteiro-Teste-01.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Roteiro-Teste-02.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Roteiro-Teste-03.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Riscos-Testes.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/GoogleDrive-Testes.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Processo-Teste-01.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Processo-Teste-02.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban -->
				<script type="text/template">
					<!-- .slide: data-background="../assets/Processo-Teste-03.png"-->
				</script>
			</section><!-- Slide5: Quadros Kanban -->

			<section data-markdown><!-- Slide5: Quadros Kanban [Titulo] -->
				<script type="text/template">
					#Resultados da dinâmica de satisfação
				</script>
			</section><!-- Slide5: Quadros Kanban [Titulo] -->

			<section data-markdown><!-- Slide6: Resultados da dinamica de satisfacao -->
				<script type="text/template">
					##Retrospectiva Sprint #1
					---------------------------------------------
					| Tech | Process | People
					--------------|----------|----------|--------
					:D | 2 | 0 | 0
					:\ | 2 | 2 | 3
					:( | 0 | 2 | 1
					---------------------------------------------
				</script>
			</section><!-- Slide6: Resultados da dinamica de satisfacao -->

			<section data-markdown><!-- Slide7: Resultados da dinamica de satisfacao -->
				<script type="text/template">
					##Retrospectiva Sprint #2
					---------------------------------------------
					| Tech | Process | People
					--------------|----------|----------|--------
					:D | 1 | 1 | 2
					:\ | 5 | 4 | 4
					:( | 0 | 1 | 0
					---------------------------------------------
				</script>
			</section><!-- Slide7: Resultados da dinamica de satisfacao -->

			<section data-markdown><!-- Slide??: Fim -->
				<script type="text/template">
					#OBRIGADO!
				</script>
			</section><!-- Slide??: Fim -->

		</div>

	</div>

	<script src="../vendor/reveal.js/lib/js/head.min.js"></script>
	<script src="../vendor/reveal.js/js/reveal.js"></script>

	<script>

	// ----------------------------- CONFIG SECTION -----------------------------
	// Full list of configuration options available at:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,
		transition: 'fade', // none/fade/slide/convex/concave/zoom

		// Optional reveal.js plugins
		dependencies: [
			{ src: '../vendor/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
			{ src: '../vendor/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: '../vendor/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: '../vendor/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
			{ src: '../vendor/reveal.js/plugin/zoom-js/zoom.js', async: true },
			{ src: '../vendor/reveal.js/plugin/notes/notes.js', async: true }
		]
	});

		// Parallax background image
		//parallaxBackgroundImage: "#ffffff",
		// Parallax background size
		//parallaxBackgroundSize: '2100px 900px', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)
		// Number of pixels to move the parallax background per slide
		// - Calculated automatically unless specified
		// - Set to 0 to disable movement along an axis
		//parallaxBackgroundHorizontal: 0,
		//parallaxBackgroundVertical: 0,

	</script>

</body>
</html>
