<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>My Presentations</title>
        <!-- <link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../vendor/assets/css/devicons.min.css">
        <link rel="stylesheet" href="../assets/css/application.css">
    </head>
    <body>
        <nav class="navbar " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="title" ><i class="fa fa-folder icon-2x"></i> My presentations</span>
            </div>
        </div>
        </nav>
        <main class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <a href="presentation.html" class="icon-link">
                                <i class="fa fa-user icon-2x me-color"></i>
                                </a>
                                <a href="presentation.html" class="middle-aligned">About me</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="icon-link">
                                <i class="fa fa-gamepad icon-2x skill-color"></i>
                                </a>
                                <a href="#" class="middle-aligned">Skills</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="icon-link">
                                <i class="fa fa-refresh fa-spin icon-2x al-up-color"></i>
                                </a>
                                <a href="#" class="middle-aligned">Always Updatting</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
